.c-main {
  background: #dfe3ee;
}

.c-relations-handler {
  border-radius: 15px;
  border: 1px solid #dddfe2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 2000px;
}

.c-relations-handler > h4 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.midlle-row {
  margin-top: 70px;
  margin-bottom: 50px;
}

ul {
  list-style: none;
  overflow: hidden;
  display: inline-block;
}

ul li {
  float: left;
  margin-left: 20px;
}
a {
  text-decoration: none;
}
