<app-navbar></app-navbar>

<div class="container-fluid c-main">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 midlle-row ">
      <div class="container-fluid bg-light c-relations-handler">
        <h4>
          <ul class="navbar-nav">
            <li>
              <a [routerLink]="[ '/relation-ships/friends']">
                <i class="fa fa-users" aria-hidden="true"></i>
                Friends
              </a>
            </li>
            <li>
              <a [routerLink]="[ '/relation-ships/pending-requests'] ">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                Pending
              </a>
            </li>
            <li>
              <a [routerLink]="[ '/relation-ships/block-list']">
                <i class="fa fa-ban" aria-hidden="true"></i>
                Blocked
              </a>
            </li>
            <li>
              <a [routerLink]="[ '/relation-ships/search']">
                <i class="fa fa-search" aria-hidden="true"></i>
                Search
              </a>
            </li>
          </ul>
        </h4>
        <app-spinner *ngIf="loading"></app-spinner>
        <p *ngIf="isThereAnErrorToLoadProfiles">There's an error in loading profiles </p>

        <!-- RelationShips -->
        <ng-container *ngIf="!loading && !isThereAnErrorToLoadProfiles">
          <router-outlet (activate)="onActivate($event)"></router-outlet>
        </ng-container>

      </div>
    </div>
  </div>
</div>