.first-row {
  margin-left: 0;
  margin-right: 0;
}

.main {
  padding-right: 0;
  border-right: 2px solid #efefef;
  height: 701px;
}

.handler {
  height: 701px;
}

.messenger-icon {
  text-align: center;
  margin: 0 0 0 -15px;
  color: #2fa4e7;
}

.messenger-icon > i {
  font-size: 35rem;
}
