.c-main {
  border-radius: 15px;
  border: 1px solid #dddfe2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 3rem;
  height: 100%;
}

.c-posts h4 {
  margin-top: 10px;
}
