<div
  class="container mt-5"
  style="
    background-color: lightgray;
    width: 650px;
    height: 250px;
    border-radius: 10px;
    margin-top: 200px;
  "
>
  <form style="margin-top: 30px;" #f="ngForm" (ngSubmit)="resetPassword(f)">
    <div class="form-group">
      <label for="exampleInputEmail1">New Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="newpass"
        ngModel
        required
        #newpass="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="newconfirmedpass"
        ngModel
        required
        #newconfirmedpass="ngModel"
      />
      <small
        id="emailHelp"
        class="form-text text-muted"
        style="color: #cc0000;"
        *ngIf="incorrectConfirmedPass"
      >
        Password isn't the same
      </small>
    </div>
    <div class="form-group form-check"></div>
    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
      Submit
    </button>
  </form>
</div>
