<fieldset class="form-inline">
  <div class="form-group">
    <input
      id="typeahead-http"
      type="text"
      class="form-control mx-sm-3"
      [class.is-invalid]="searchFailed"
      [(ngModel)]="model"
      [ngbTypeahead]="search"
      placeholder="Location"
    />
    <small *ngIf="searching" class="form-text text-muted">searching...</small>
    <!-- <div class="invalid-feedback" *ngIf="searchFailed">
        Sorry, suggestions could not be loaded.
      </div> -->
  </div>
</fieldset>
<hr />
<!-- <pre>User is in : {{ model | json }}</pre> -->
