.main {
  background: #dfe3ee;
  height: 100vh;
}

.left-column {
  margin-top: 30px;
}

.middle-column {
  margin-top: 30px;
}

.right-column {
  margin-top: 30px;
  padding-left: 0px;
}

.c-wrapper {
  border-radius: 15px;
  border: 1px solid #dddfe2;
  margin-bottom: 1rem;
  transition: box-shadow 0.6s;
}

.c-wrapper:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.c-header {
  margin: 15px 15px;
  padding-left: 0;
  cursor: pointer;
}

.c-header > h4 > i {
  margin-right: 0.7rem;
}

div.col-sm-3.left-column > div:nth-child(3) > div {
  display: flex;
}
