<app-spinner *ngIf="loading"></app-spinner>
<ng-container *ngIf="!loading">
  <!-- the Body -->
  <div class="container-fluid" style="background: #dfe3ee;">
    <div class="row" style="height: 9000px;">
      <!-- The UserNav -->
      <div class="col-sm-3" style="margin-top: 30px;">
        <app-usernav></app-usernav>
      </div>
      <!-- the middle component -->
      <div class="col-sm-6" style="margin-top: 30px; height:8000px ;">
        <!-- Create Post -->
        <div style="margin: 30px 0 30px 0; padding: 0 30px 0 30px; ">
          <create-post></create-post>
        </div>
        <!-- container of posts -->
        <app-posts></app-posts>
      </div>
      <!-- the Third component -->
      <div class="col-sm-3" style="margin-top: 30px; padding-left: 0px;">
        <app-friendships-suggestion></app-friendships-suggestion>
      </div>
      <!-- 4th Component-->
      <app-active-friends></app-active-friends>
    </div>
  </div>
</ng-container>