<ng-container *ngIf="loading; else homePage">
  <app-spinner *ngIf="loading"></app-spinner>
</ng-container>

<ng-template #homePage>
  <div class="container-fluid main">
    <div class="row">

      <div class="col-sm-3 left-column">

        <div class="c-wrapper" (click)="openAndCloseNavTab()">
          <app-usernav [navIconClicked]="navIconClicked"></app-usernav>
        </div>

        <div class="c-wrapper" (click)="openAndCloseSuggestionsTab()">
          <app-friendships-suggestion [suggestionIconClicked]="suggestionIconClicked"></app-friendships-suggestion>
        </div>

      </div>

      <div class="col-sm-6 middle-column">

        <div class="create-post-wrapper">

          <ng-container *ngIf="createPostButtonClicked">
            <create-post></create-post>
          </ng-container>

        </div>

        <app-posts></app-posts>

      </div>

      <!-- <div class="col-sm-3 right-column">
         <app-friendships-suggestion></app-friendships-suggestion>
      </div> -->

      <app-active-friends></app-active-friends>

    </div>
  </div>
</ng-template>