<div>
  <div class="sky-background"></div>
  <!-- NAVBAR -->
  <app-header></app-header>

  <section class="intro">
    <!-- LOGO -->
    <div class="logo">
      <img src="./../../../../assets/images/scai-logo.png" alt="Scai Logo">
    </div>
  </section>
  <div style="margin-left: 50px; margin-top: 50px; ">
    <ul style="list-style: none;">
      <li>
        <a class="my-button" style="padding-right: 120px;" routerLink="/app/sign-in">
          <p>Sign in</p>
        </a>
      </li>
      <li>
        <a class="my-button" style="padding-right: 175px;" routerLink="/app/sign-up">
          <p>Sign up</p>
        </a>
      </li>
    </ul>
  </div>
</div>