.component-header {
  margin: 15px 15px;
  padding-left: 0;
  cursor: pointer;
}

.component-header > h4 > i {
  margin-right: 0.7rem;
}

.spinner-wrapper {
  margin: 8rem;
}

.errorOnLoadingProfiles {
  color: red;
}

.suggested-friend {
  margin-top: 10px;
}

.profile-img {
  width: 40px;
  height: 40px;
}

.friend-name {
  margin-top: 8px;
  font-size: 1rem;
  font-weight: 700;
  color: #495057;
}

.friend-name a {
  text-decoration: none;
  color: #495057;
}

.add-button {
  padding: 0 16px 0 15px;
  margin-top: 5px;
}

.my-hr {
  border-top: 1px solid #dfe3ee;
  margin: 5px 0 5px 0;
}
