<div class="container-fluid bg-secondary main" onselectstart="return false">

  <div class="container-fluid component-header">
    <h4>
      <ng-container *ngIf="suggestionIconClicked; else elseTemplate">
        <i class="fa fa-search" aria-hidden="true"></i>
      </ng-container>
      <ng-template #elseTemplate>
        <i class="fa fa-users" aria-hidden="true"></i>
      </ng-template>
      suggestions
    </h4>
  </div>


  <ng-container *ngIf="suggestionIconClicked">
    <ng-container *ngIf="!loading && profiles ; else spinner">
      <ng-container *ngFor="let profile of profiles">
        <div class="row suggested-friend">
          <div class="col-2">
            <div>
              <img class="rounded-circle profile-img" [src]=" male_avatar_photo_url" />
            </div>
          </div>
          <div class="col-7">
            <h2 class="friend-name">
              <a [routerLink]="[ '/user/profile/'+profile.id]"> {{ profile.firstName }} {{profile.lastName }}</a>
            </h2>
          </div>
          <div>
            <button class="btn btn-info add-button" (click)="sendFriendRequest(profile.id)">
              add
            </button>
          </div>
        </div>
        <hr class="my-hr" />
      </ng-container>
    </ng-container>

    <ng-template #spinner>
      <div class=" d-flex justify-content-center text-primary spinner-wrapper">
        <div class="spinner-grow " role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </ng-template>

    <p *ngIf="!loading && errorOnLoadingProfiles" class="errorOnLoadingProfiles"> there's an error on loading profiles
  </ng-container>

</div>