<div class="container main-container">

  <div class="container-fluid first-row-wrapper ">
    <div class="container first-row">
      <div class="c-user-image">
        <img class="rounded-circle" src="../../../assets/images/male-user.jpg">
      </div>

      <div class="c-user-name">
        <h5> <a href="#">firstname secondname</a> </h5>
      </div>

      <div class="c-created-time">
        <span>12:00 PM</span>
      </div>
    </div>
  </div>

  <div class="second-row">
    <div class="container">
      <div class="c-post-image">
        <img src="../../../assets/images/male-user.jpg" alt="">
      </div>
    </div>

    <div class="container-fluid">
      <div class="container text-wrapper ">
        <div class=" c-post-description">
          <p>this is the post description</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid c-commetns" *ngIf="commentButtonClicked">
    <div class="container c-commetn">
      <div class="commenter-image-wrapper">
        <img class="rounded-circle" src="../../../assets/images/male-user.jpg" alt="">
      </div>
      <div class="commenter-name-wrapper">
        <h5> <a href="">commenter name</a> </h5>
      </div>
      <div class="commenter-comment-wrapper">
        <p>thats a demo comment </p>
      </div>
    </div>
  </div>

  <div class="container-fluid c-actions">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <button class="btn btn secondary">
          <i class="fa fa-thumbs-up"></i>
          20 Likes
        </button>
      </li>
      <li class="breadcrumb-item">
        <button class="btn btn secondary" (click)="whenCommentButtonClicked()">
          <i class="fa fa-comment"></i>
          20 comments
        </button>
      </li>
      <li class="breadcrumb-item">
        <button class="btn btn secondary">
          <i class="fa fa-share"></i> Share
        </button>
      </li>
    </ol>
  </div>
</div>