<div class="container main-container">

  <div class="container-fluid first-row-wrapper ">
    <div class="container first-row">
      <div class="c-user-image">
        <img class="rounded-circle" src="../../../assets/images/male-user.jpg">
      </div>

      <div class="c-user-name">
        <h5> <a href="#">firstname secondname</a> </h5>
      </div>

      <div class="c-created-time">
        <span>{{post.created_time}}</span>
      </div>
    </div>
  </div>

  <div class="second-row">
    <div class="container">
      <div class="c-post-image">
        <img src="../../../assets/images/male-user.jpg" alt="">
      </div>
    </div>

    <div class="container-fluid">
      <div class="container text-wrapper ">
        <div class=" c-post-description">
          <p>{{ post.text }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid c-commetns" *ngIf="commentButtonClicked">
    <ng-container *ngFor="let comment of post.comments">
      <div class="container c-commetn">
        <div class="commenter-image-wrapper">
          <img class="rounded-circle" src="../../../assets/images/male-user.jpg" alt="">
        </div>
        <div class="commenter-name-wrapper">
          <h5> <a href="">commenter name</a> </h5>
        </div>
        <div class="commenter-comment-wrapper">
          <p>{{ comment.comment }} </p>
        </div>
      </div>
    </ng-container>
  </div>

  <div class=" container-fluid c-actions">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <button class="btn btn secondary" (click)="likeButtonClicked.emit(post.postId)">
          <i class="fa fa-thumbs-up"></i>
          {{post.likes}} Likes
        </button>
      </li>
      <li class="breadcrumb-item">
        <button class="btn btn secondary" (click)="whenCommentButtonClicked()">
          <i class="fa fa-comment"></i>
          {{
            post.comments.length > 1
              ? post.comments.length + " Comments"
              : post.comments.length + " Comment"
          }}
        </button>
      </li>
      <li class="breadcrumb-item">
        <button class="btn btn secondary">
          <i class="fa fa-share"></i> Share
        </button>
      </li>
    </ol>
    <!-- Input to add comment  -->
    <div class="input-group fluid">
      <input type="text" placeholder="Add a Comment " class="form-control" [(ngModel)]="comment">
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-primary" (click)="addCommentButtonClicked.emit(comment)">
          Comment
        </button>
      </div>
    </div>

  </div>
</div>