ol li::before {
    content: "";
  }
  ol li i {
    color: #2fa4e7;
  }
  .comment-section input {
    border: 0px;
  
    border-radius: 0px;
  }
  
  .comment-section button {
    border: 0px;
  }
  