<!-- header  -->
<div class="row">
  <div class="container-fluid header" style="height: 70px;">
    <ul class="header-list">
      <li>
        <span>
          <img
            src="../../../../../assets/images/man-user-empty-picture.jpg"
            class="rounded-circle"
            style="width: 50px; height: 50px;"
          />
        </span>
      </li>
      <li>
        <span style="margin: 4px 0 0 20px;"><h3>my Friend</h3> </span>
      </li>
      <li style="float: right;">
        <span>
          <i
            class="fa fa-info"
            aria-hidden="true"
            style="font-size: 40px; color: #2fa4e7;"
          ></i>
        </span>
      </li>
    </ul>
  </div>
</div>
<!--   handler  -->
<div class="row">
  <div class="container col-8" style="border: 1px solid yellow; height: 589px;">
    <div class="row">hi</div>
    <div class="row">
      <div
        class="input-group fluid"
        style="position: absolute; bottom: 0; left: 0;"
      >
        <input
          type="text"
          class="form-control"
          placeholder="Type a message... "
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-primary"
            type="button"
            id="button-addon2"
          >
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container col-4" style="border: 1px solid green;">hi</div>
</div>
