<!-- header  -->
<div class="row">
  <div
    class="container-fluid header"
    style="height: 70px; border-bottom: 2px solid #efefef;"
  >
    <ul class="header-list" *ngIf="event">
      <li>
        <span>
          <img
            src="../../../../../assets/images/man-user-empty-picture.jpg"
            class="rounded-circle"
            style="width: 50px; height: 50px;"
          />
        </span>
      </li>
      <li>
        <span style="margin: 4px 0 0 20px;">
          <!-- <h3>{{ event.id }}</h3> -->
          <h3>{{ getFriendUsername(event.id) }}</h3>
        </span>
      </li>
      <li style="float: right;">
        <span>
          <i
            class="fa fa-info"
            aria-hidden="true"
            style="font-size: 40px; color: #2fa4e7;"
          ></i>
        </span>
      </li>
    </ul>
  </div>
</div>
<!--   handler  -->
<div class="row">
  <div
    class="container col-8"
    style="height: 631px; border-right: 2px solid #efefef;"
  >
    <!-- chat wrapper -->
    <div class="row">
      <div class="container">
        <div class="chat-page">
          <div class="msg-inbox">
            <div class="chats">
              <div class="msg-page">
                <!-- income chat  -->
                <div
                  class="recieved-chats"
                  *ngFor="
                    let message of event.messages
                      | messagefilter: getFriendId(event.id)
                  "
                >
                  <div class="recieved-chats-img">
                    <img
                      class="rounded-circle"
                      style="width: 20px; height: 20px;"
                      src="../../../../../../assets/images/man-user-empty-picture.jpg"
                    />
                  </div>
                  <div class="recieved-msg">
                    <div class="recieved-msg-inbox">
                      <p>
                        {{ message.text }}
                      </p>
                      <span class="time">11:00 PM </span>
                    </div>
                  </div>
                </div>
                <!-- income chat  -->

                <!-- outgoing chat  -->
                <div
                  class="outgoing-chats"
                  *ngFor="
                    let message of event.messages | messagefilter: loggedUserId
                  "
                >
                  <div class="outgoing-chats-msg">
                    <p>
                      {{ message.text }}
                    </p>
                    <span class="time">11:00 PM </span>
                  </div>
                  <div class="outgoing-chats-img">
                    <img
                      class="rounded-circle"
                      style="width: 20px; height: 20px;"
                      src="../../../../../../assets/images/man-user-empty-picture.jpg"
                    />
                  </div>
                </div>
                <!-- outgoing chat  -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- input -->
    <div class="row">
      <div
        class="input-group fluid"
        style="position: absolute; bottom: 15px; left: 0;"
      >
        <!-- Icon for uploading  Image  -->

        <!-- <div class="image-upload" style="position: absolute;">
          <label for="file-input">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
          </label>
          <input id="file-input" type="file" />
        </div> -->

        <!-- Icon for uploading  Image  -->

        <input
          type="text"
          class="form-control"
          placeholder="Type a message... "
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
          style="border-radius: 20px; margin: 0 20px 0 20px;"
          [(ngModel)]="text"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-primary"
            type="button "
            id="button-addon2"
            style="border-radius: 20px; margin-right: 10px;"
            (click)="sendMessage(getFriendId(event.id), text)"
          >
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container col-4"></div>
</div>
