<div class="row">
  <div class="container">
    <div class="card bg-secondary">
      <div class="card-body">
        <h5 class="card-title">
          Intro <i class="fa fa-globe" aria-hidden="true"></i>
        </h5>
        <hr class="my-4" />
        <p class="card-text">
          this will be the component of showing the user personal informations
          with the ability of Edit
        </p>
        <button
          type="button"
          class="btn btn-outline-primary"
          style="margin-left: 336px;"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
</div>
