<app-spinner *ngIf="loading"></app-spinner>
<p *ngIf="!loading && !doIhaveFriends"> You have no friends </p>
<ng-container *ngFor="let friendProfile of  myFriendsProfiles">
    <table class="table table-hover" id="friends">
        <tbody>
            <tr>
                <th scope="row">
                    <ng-container *ngIf="friendProfile.profilePictureUrl; else emptyProfilePicture">
                        <img [src]="friendProfile.profilePictureUrl" class="rounded-circle profile-picture" />
                    </ng-container>

                    <ng-template #emptyProfilePicture>
                        <ng-container *ngIf="friendProfile.gender == Female ; else maleProfilePicture">
                            <img [src]="female_avatar_photo_url" class="rounded-circle profile-picture" />
                        </ng-container>

                        <ng-template #maleProfilePicture>
                            <img [src]="male_avatar_photo_url" class="rounded-circle profile-picture" />
                        </ng-template>

                    </ng-template>

                </th>
                <th>
                    {{friendProfile.firstName}} {{friendProfile.lastName}}
                </th>
                <td>
                    <li style="list-style: none;">
                        <i class="fa fa-comments-o" aria-hidden="true" (click)="getConversation(friendProfile)"></i>
                    </li>
                </td>
                <td>
                    <i *ngIf="friendProfile.active" _ngcontent-jcl-c119="" aria-hidden="true"
                        class="fa fa-circle online-button"></i>
                    <i *ngIf="!friendProfile.active" _ngcontent-jcl-c119="" aria-hidden="true"
                        class="fa fa-circle offline-button"></i>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>
<div class="col-sm-3">
    <ng-container *ngIf="messageIconClicked">
        <!-- <p>{{selectedFriendId }}</p> -->
        <app-message-box [friendProfile]="selectedFriend" (eventClicked)="childEventClicked($event)"></app-message-box>
    </ng-container>
</div>