<div class="row" onselectstart=" return false ">
  <div class="sky-background"></div>
  <app-header></app-header>

  <section class="intro">
    <div class="container form-container">
      <form #f="ngForm" (ngSubmit)="signIn(f)">

        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" name="email" #email="ngModel" ngModel required />
          <ng-container *ngIf="combination">
            <small class="red"> email and password combination isn't valid
            </small>
          </ng-container>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" #password="ngModel" ngModel required />
        </div>

        <div class="form-group form-check">
          <a routerLink="/app/verify-email">forgot password</a>
        </div>

        <ng-container *ngIf="!loading; else freez">
          <button type="submit" class="btn btn-success" [disabled]="f.invalid">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Sign in
          </button>
        </ng-container>
        <ng-template #freez>
          <button class="btn btn-success" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Sign in ...
          </button>
        </ng-template>

        <button type="button" class="btn btn-info sign-up-button" routerLink="/app/sign-up">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          Sign up
        </button>

      </form>
    </div>
  </section>

</div>