<div
  class="container-fluid bg-secondary"
  style="
    border-radius: 15px;
    border: 1px solid #dddfe2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  "
>
  <div
    class="container-fluid"
    style="margin-top: 30px; margin-bottom: 25px; padding-left: 0;"
  >
    <h4><i class="fa fa-bars" aria-hidden="true"></i> &nbsp; Navigator</h4>
  </div>

  <table class="table table-hover">
    <tbody>
      <tr>
        <th scope="row">
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp; &nbsp; News
        </th>
      </tr>
      <tr>
        <th scope="row">
          <a routerLink="/messenger">
            <i class="fa fa-comments" aria-hidden="true"></i>&nbsp;
            &nbsp;Messenger</a
          >
        </th>
      </tr>
      <tr>
        <th scope="row">
          <i class="fa fa-wrench" aria-hidden="true"></i>&nbsp; &nbsp;Parameters
        </th>
      </tr>
      <tr>
        <th scope="row">
          <i class="fa fa-flag" aria-hidden="true"></i>&nbsp; &nbsp;Pages
        </th>
      </tr>
      <tr>
        <th scope="row">
          <i class="fa fa-users" aria-hidden="true"></i> &nbsp; &nbsp; Groups
        </th>
      </tr>
    </tbody>
  </table>
</div>
