#logo img {
  float: left;
  width: 132px;
  height: 73px;
}

.navbar {
  height: 59px;
}

.navbar-nav {
  padding: 10px 0px 10px 0px;
  margin-left: 100px;
}

.navbar-nav li {
  margin: 0px 10px 0px 10px;
}
.navbar-nav li i {
  margin-right: 8px;
}

.profile-picture {
  height: 40px;
  width: 40px;
}

.fa {
  font-size: 1.5em;
}
