<div class="container" style="margin-top: 53px; margin-left: 54px;">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active bg-secondary"
        id="home-tab"
        data-toggle="tab"
        href="#home"
        role="tab"
        aria-controls="home"
        aria-selected="true"
        style="border-bottom: 0px;"
      >
        <i class="fa fa-pencil" aria-hidden="true"></i> Create post
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="profile-tab"
        data-toggle="tab"
        href="#profile"
        role="tab"
        aria-controls="profile"
        aria-selected="false"
      >
        <i class="fa fa-video-camera" aria-hidden="true"></i> Live video</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="contact-tab"
        data-toggle="tab"
        href="#contact"
        role="tab"
        aria-controls="contact"
        aria-selected="false"
        >other
      </a>
    </li>
  </ul>
  <div
    class="tab-content border-top-0 bg-secondary"
    id="myTabContent"
    style="
      height: 140px;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
    "
  >
    <div
      class="tab-pane fade show active"
      id="home"
      role="tabpanel"
      aria-labelledby="home-tab"
    >
      <div class="" id="create-post-div">
        <div class="picture">
          <img
            class="rounded-circle"
            src="../../../../../assets/images/Mark.jpg"
          />
        </div>
        <input id="status" placeholder="What's on your mind ? " />
        <div>
          <div class="form-group">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
            <input
              type="file"
              class="form-control-file"
              id="exampleInputFile"
              style="width: 98px;"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="profile"
      role="tabpanel"
      aria-labelledby="profile-tab"
    >
      ...
    </div>
    <div
      class="tab-pane fade"
      id="contact"
      role="tabpanel"
      aria-labelledby="contact-tab"
    >
      ...
    </div>
  </div>
</div>
