<div class="container main-container" *ngIf="owner">

  <div class="container-fluid first-row-wrapper ">
    <div class="container first-row">
      <div class="c-user-image">
        <img class="rounded-circle" [src]="postOwnerProfilePicture">
      </div>
      <div class="c-user-name">
        <h5> <a [routerLink]="[ '/user/profile/'+owner.id]"> {{ owner.firstName }} {{owner.lastName}} </a> </h5>
      </div>
      <div class="c-created-time">
        <span>{{postedOn}}</span>
      </div>
      <button class="icon btn btn secondary float-right">
        <i class="fa fa-share"></i>
      </button>
    </div>
  </div>

  <ng-container *ngIf="post.description">
    <div class="container text-wrapper">
      <p>{{ post.description }}</p>
    </div>
  </ng-container>


  <ng-container *ngIf="imageUrl">
    <div class="c-post-image">
      <img [src]="post.imageUrl">
    </div>
  </ng-container>


  <div class="c-actions">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <button class="btn btn secondary" (click)="reactOnPost()">
          <i [style.color]="isLikedByMe?'#2fa4e7':'#000'" class="fa fa-thumbs-up"></i>
        </button>
      </li>
      <li class="breadcrumb-item">
        <button class="btn btn secondary" (click)="whenCommentButtonClicked()">
          <i class="fa fa-comment"></i>
        </button>
      </li>
    </ol>

    <div class="comments-and-likes float-right">
      <a>
        {{ post.likerIds ? (post.likerIds.length > 1 ? post.likerIds.length + " Likes" : post.likerIds.length + " Like"
        ) : 0 + " Like" }}
        {{ post.comments ? (
        post.comments.length > 1
        ? post.comments.length + " Comments"
        : post.comments.length + " Comment") : 0 + " Comment"
        }}
      </a>
    </div>

  </div>

  <div class="c-commetns" *ngIf="commentButtonClicked">

    <ng-container *ngIf="post.comments">
      <app-comment-container *ngFor="let comment of post.comments" [comment]="comment"></app-comment-container>
    </ng-container>

    <div class="input-group fluid">
      <input type="text" placeholder="Add a Comment " class="form-control" (keyup.enter)="addComment()"
        [(ngModel)]="textInputed">
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-primary" (click)="addComment()">
          Comment
        </button>
      </div>
    </div>

  </div>
</div>