<div class="main-container" [ngClass]="canOpenPostModel ? 'marginRemBottom' : ''" *ngIf="owner && isLikedByMe != null"
  onselectstart="return false">

  <ng-template #content let-c="close" let-d="dismiss">
    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
    <app-post [canOpenPostModel]="false" [post]="post">
    </app-post>
  </ng-template>


  <div class="container-fluid first-row-wrapper" (click)="open(content)">
    <div class="container first-row">
      <div class="c-user-image">
        <img class="rounded-circle" [src]="postOwnerProfilePicture">
      </div>
      <div class="c-user-name">
        <h5> <a id="link" [routerLink]="[ '/user/profile/'+owner.id]"> {{ owner.firstName }} {{owner.lastName}} </a>
        </h5>
      </div>
      <div class="c-created-time ml-auto">
        <span>{{postedOn}}</span>
      </div>
    </div>
  </div>

  <ng-container *ngIf="post.description">
    <div class="container text-wrapper">
      <p>{{ post.description }}</p>
    </div>
  </ng-container>


  <ng-container *ngIf="imageUrl">
    <div class="c-post-image">
      <a (click)="open(content)">
        <img [src]="post.imageUrl">
      </a>
    </div>
  </ng-container>


  <div class="c-actions">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <button class="btn btn secondary" (click)="reactOnPost()">
          <i [style.color]="isLikedByMe?'#2fa4e7':'#000'" class="fa fa-thumbs-up"></i>
        </button>
      </li>
      <li class="breadcrumb-item">
        <button class="btn btn secondary" (click)="whenCommentButtonClicked()">
          <i class="fa fa-comment"></i>
        </button>
      </li>

      <li class="ml-auto">
        <div class="comments-and-likes float-right" (click)="whenCommentButtonClicked() " role="button">
          <a>
            {{ post.likersIds ? (post.likersIds.length > 1 ? post.likersIds.length + " Likes" : post.likersIds.length +
            "
            Like"
            ) : 0 + " Like" }}
            {{ post.comments ? (
            post.comments.length > 1
            ? post.comments.length + " Comments"
            : post.comments.length + " Comment") : 0 + " Comment"
            }}
          </a>
        </div>
      </li>
    </ol>
  </div>

  <div class="c-commetns" *ngIf="commentButtonClicked">

    <ng-container *ngIf="post.comments">
      <app-comment-container *ngFor="let comment of post.comments" [comment]="comment"></app-comment-container>
    </ng-container>

    <div class="input-group fluid">
      <input type="text" placeholder="Add a Comment " class="form-control" (keyup.enter)="addComment()"
        [(ngModel)]="textInputed">
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-primary" (click)="addComment()">
          Comment
        </button>
      </div>
    </div>

  </div>
</div>