<nav class="navbar navbar-expand-lg my-nav">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav list ">
      <a class="nav-link active" routerLink="/app"><span>Home </span></a>
      <a class="nav-link" routerLink="/app/project"><span>Project </span></a>
      <a class="nav-link" routerLink="/app/who"><span>Who? </span></a>
    </div>
  </div>
  <div class="icons">
    <a href="https://www.linkedin.com/in/hamza-dahhani-a631141b6" target="_blank">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/PushPull-Hub/Scai-Consulting/tree/master/social-network-app" target="_blank">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
  </div>

</nav>