<div class="container-fluide">
    <div class=" container-fluid bg-secondary main-container">
        <!-- the component header  -->
        <div class="row">
            <div class="container component-header">
                <h4><i class="fa fa-pencil" aria-hidden="true"></i> Create post</h4>
            </div>
        </div>
        <!--  the component body -->
        <div class="row">
            <div class="container">
                <div class="container component-body">
                    <img [src]="male_avatar_photo_url" class="rounded-circle" />
                    <input class="text-input" placeholder="What's on your mind " [(ngModel)]="insertedText" />
                </div>
            </div>
        </div>

        <ng-container *ngIf="selectedImage">
            <div class="row">
                <div class="container c-post-image">

                    <!-- <div class="close-icon float-right">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </div> -->

                    <img class="post-image" [src]="postImageSrc" />

                </div>
            </div>
        </ng-container>



        <!-- the component footer -->
        <div class="row">
            <div class="container component-footer">
                <div class="container">
                    <div class="add-more-to-post">
                        <span><i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </span>
                        <input type="file" id="file-input" (change)="showPreview($event)">
                        <a><i class="fa fa-users" aria-hidden="true"></i></a>
                        <a><i class="fa fa-smile-o" aria-hidden="true"></i> </a>
                        <label for="file-input">
                            <a><i class="fa fa-picture-o" aria-hidden="true"></i></a>
                        </label>
                        <a (click)="onLocationIconClick()">
                            <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <app-location-finder *ngIf="locationIconClicked"></app-location-finder>
                <ng-container *ngIf="insertedText || selectedImage ; else disabledButton">
                    <button class="btn btn-secondary" (click)="sharePost()">Share</button>
                </ng-container>
                <ng-template #disabledButton>
                    <button class="btn btn-secondary" [disabled]="true">Share</button>
                </ng-template>
            </div>
        </div>

    </div>
</div>