<div class="row">
  <div class="container navbar-header">
    <ul>
      <li>
        <img [src]="profile_picture_url" class="rounded-circle" />
      </li>
      <li style="margin: 12px 10px 10px 10px;">
        <h2>Chat</h2>
      </li>
      <li>
      </li>
    </ul>
  </div>
  <div class="container" style="margin-left: 28px; margin-bottom: 10px;">
    <input type="text" id="search" placeholder="Search..." />
  </div>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<div class="row">
  <div class="container-fluid">
    <table class="table table-hover" *ngIf="myChats">
      <ng-container *ngFor="let chat of myChats">
        <tbody>
          <tr (click)="onClick(chat)">

            <ng-container *ngIf="chat.secondUser.profilePictureUrl; else emptyProfilePicture">
              <th style="padding-bottom: 12px; padding-right: 0px;">
                <img [src]="chat.secondUser.profilePictureUrl" class="rounded-circle"
                  style="width: 40px; height: 40px;" />
              </th>
            </ng-container>

            <ng-template #emptyProfilePicture>
              <ng-container *ngIf="chat.secondUser.gender == Female ; else maleProfilePicture">
                <th style="padding-bottom: 12px; padding-right: 0px;">
                  <img [src]="female_avatar_photo_url" class="rounded-circle" style="width: 40px; height: 40px;" />
                </th>
              </ng-container>

              <ng-template #maleProfilePicture>
                <th style="padding-bottom: 12px; padding-right: 0px;">
                  <img [src]="male_avatar_photo_url" class="rounded-circle" style="width: 40px; height: 40px;" />
                </th>
              </ng-template>

            </ng-template>

            <td style="padding-left: 0; padding-right: 0;">
              <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
                <strong style="color : #2FA4E7;">{{chat.secondUser.firstName}} {{chat.secondUser.lastName}} </strong>
                <ng-container *ngIf="chat.lastMessage; else emptyString">
                  <ng-container
                    *ngIf="chat.lastMessage.senderId == chat.myId || chat.isLastMessageSeen == 1 ; else boldText">
                    <small>
                      {{ chat.lastMessage.text.slice(0,20)+"..." }}
                    </small>
                  </ng-container>
                  <ng-template #boldText>
                    <ng-container
                      *ngIf=" chat.lastMessage.senderId !== chat.myId  || chat.isLastMessageSeen == 0 ; else err">
                      <strong>{{ chat.lastMessage.text.slice(0,20)+"..." }}
                      </strong>
                    </ng-container>
                    <ng-template #err>
                      <p style="color: red;">something is wrong - server side error </p>
                    </ng-template>
                  </ng-template>
                </ng-container>
                <ng-template #emptyString>
                  <small>
                    <p> </p>
                  </small>
                </ng-template>
              </div>
            </td>
            <td>
              <ng-container *ngIf="chat.lastMessage">
                <ng-container *ngIf="
                chat.isLastMessageSeen === 1  &&
                chat.lastMessage.senderId == chat.myId;
                    else options
                  ">
                  <img [src]="male_avatar_photo_url" class="rounded-circle" style="width: 15px; height: 15px;" />
                </ng-container>
                <ng-template #options>
                  <div ngbDropdown container="body">
                    <i class="fa fa-bars" style="color: #2fa4e7;" aria-hidden="true" ngbDropdownToggle></i>
                    <div ngbDropdownMenu>
                      <button ngbDropdownItem>option</button>
                      <button ngbDropdownItem>Duplicate</button>
                      <button ngbDropdownItem>Edit</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Delete</button>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </ng-container>
    </table>
  </div>
</div>