<div class="row" style="margin: 0;">
    <div class="sky-background"></div>
    <app-header></app-header>

    <section class="intro">
        <div class="container image-container">
            <img class="rounded-circle" src="../../../../../assets/images/male-user.jpg">
            <div class="container full-name-container">
                <h1>Hamza Dahhani</h1>
                <h6>Junior Web Developer</h6>
                <hr class="my-4" />
            </div>
        </div>
        <div class="row">

        </div>
    </section>

</div>