<app-spinner *ngIf="loading"></app-spinner>
<p *ngIf="!loading && !doIhavePendingFriendRequests"> You have no pending requests </p>

<ng-container *ngIf="pendingRequestsProfiles && !loading ">

    <ng-container *ngFor="let pendingRequestsProfile of pendingRequestsProfiles">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th scope="row">
                        <ng-container *ngIf="pendingRequestsProfile.profilePictureUrl; else emptyProfilePicture">
                            <img [src]="pendingRequestsProfile.profilePictureUrl"
                                class="rounded-circle profile-picture" />
                        </ng-container>

                        <ng-template #emptyProfilePicture>
                            <ng-container *ngIf="pendingRequestsProfile.gender == Female ; else maleProfilePicture">
                                <img [src]="female_avatar_photo_url" class="rounded-circle profile-picture" />
                            </ng-container>

                            <ng-template #maleProfilePicture>
                                <img [src]="male_avatar_photo_url" class="rounded-circle profile-picture" />
                            </ng-template>
                        </ng-template>

                    </th>
                    <th>
                        {{pendingRequestsProfile.firstName}} {{pendingRequestsProfile.lastName}}
                    </th>
                    <td>
                        <button class="btn btn-info cancel-friend-req-button"
                            (click)="cancelFriendRequest(pendingRequestsProfile.id)">Cancel Request</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>

</ng-container>