<app-spinner *ngIf="loading"></app-spinner>
<p *ngIf="!loading && !doIhavePendingFriendRequests"> You have no pending requests </p>

<ng-container *ngIf="pendingRequestsProfiles && !loading ">

    <ng-container *ngFor="let pendingRequestsProfile of pendingRequestsProfiles">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th scope="row">
                        <img [src]="male_avatar_photo_url" class="rounded-circle profile-picture" />
                    </th>
                    <th>
                        {{pendingRequestsProfile.firstName}} {{pendingRequestsProfile.lastName}}
                    </th>
                    <td>
                        <button class="btn btn-info cancel-friend-req-button"
                            (click)="cancelFriendRequest(pendingRequestsProfile.id)">Cancel Request</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>

</ng-container>