<h1>Settings works </h1>
<!-- <div class="row" style="margin: 0;">
  <div class="sky-background"></div>
  <app-header></app-header>
  <section class="intro">
    <div class="container form-container" style="   margin: auto;; width:80%;">
      <form #f="ngForm" (ngSubmit)="signUp(f)">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label style=" color:black "> First Name </label>
            <input type="text" class="form-control" id="inputFirstName" name="firstname" ngModel required
              #firstname="ngModel" />
          </div>
          <div class="form-group col-md-6">
            <label style=" color:black "> Second Name </label>
            <input type="text" class="form-control" id="inputSecondName" name="secondname" ngModel required
              #secondname="ngModel" />
          </div>
        </div>
        <div class="form-group" style="margin-bottom: 0;">
          <label style=" color:black "> Email</label>
          <input type="email" class="form-control" id="inputEmail" name="email" ngModel required #email="ngModel" />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label style=" color:black "> Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password" ngModel required
              #password="ngModel" />
          </div>
          <div class="col-md-6">
            <label style=" color:black "> Date of Birth </label>
            <form class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="year-month-day" name="dp" [(ngModel)]="date" ngbDatepicker
                    #d="ngbDatepicker" style="width: 299px;" required />
                  <div class="input-group-append">
                    <button class="btn btn-success" (click)="d.toggle()" type="button">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="from-row">
          <div class="form-group col-md-6" id="gender" style="padding: 0; margin-bottom: 8px; ">
            <label style=" color:black "> Gender</label>
            <select class="custom-select" [(ngModel)]="selectedOption" name="first" required>
              <option [value]="option.value" *ngFor="let option of options">{{
              option.name
            }}</option>
            </select>
          </div>
        </div>

        <button type="submit" class="btn btn-success" style="margin-left: 16px; margin-top: 20px;"
          [disabled]="f.invalid">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          <span style="margin-left: 5px;">Sign up</span>
        </button>
        <button type="button" class="btn btn-info" style="margin-left: 16px; margin-top: 20px;">
          <a routerLink="/app/sign-in" style="text-decoration: none; color: white;">Already have account</a>
        </button>
      </form>


    </div>
  </section>


</div> -->