<div id="second-row-container" class="row">
  <div class="col-5">
    <app-intro></app-intro>
    <app-photos></app-photos>
    <div class="row">
      <div class="col-6">
        <div id="list-example" class="list-group">
          <a class="list-group-item list-group-item-action" href="#list-item-1">2020</a>
          <a class="list-group-item list-group-item-action" href="#list-item-2">2019</a>
          <a class="list-group-item list-group-item-action" href="#list-item-3">2018</a>
          <a class="list-group-item list-group-item-action" href="#list-item-4">Birthday</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-7">
    <app-timeline-create-post></app-timeline-create-post>
    <app-timeline-posts></app-timeline-posts>
  </div>
</div>