<div class="row">
  <div class="container navbar-header">
    <ul>
      <li>
        <img
          src="../../../../../assets/images/man-user-empty-picture.jpg"
          class="rounded-circle"
        />
      </li>
      <li style="margin: 12px 10px 10px 10px;">
        <h2>Chat</h2>
      </li>
      <li>
        <!-- options part -->
      </li>
    </ul>
  </div>
  <div class="container" style="margin-left: 28px; margin-bottom: 10px;">
    <input type="text" id="search" placeholder="Search..." />
  </div>
</div>
<div class="row">
  <div class="container-fluid">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th style="padding-bottom: 12px; padding-right: 0px;">
            <img
              src="../../../../../assets/images/man-user-empty-picture.jpg"
              class="rounded-circle"
              style="width: 40px; height: 40px;"
            />
          </th>
          <td style="padding-left: 0; padding-right: 0;">
            <div
              class="container-fluid"
              style="padding-left: 0; padding-right: 0;"
            >
              <strong>my friend</strong> &nbsp;

              <small>his message...</small>
            </div>
          </td>
          <td>
            <div ngbDropdown container="body" *ngIf="!isMessageReaded">
              <i
                class="fa fa-bars"
                style="color: #2fa4e7;"
                aria-hidden="true"
                ngbDropdownToggle
              ></i>

              <div ngbDropdownMenu>
                <button ngbDropdownItem>option</button>
                <button ngbDropdownItem>Duplicate</button>
                <button ngbDropdownItem>Edit</button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem>Delete</button>
              </div>
            </div>

            <img
              src="../../../../../assets/images/man-user-empty-picture.jpg"
              class="rounded-circle"
              style="width: 15px; height: 15px;"
              *ngIf="isMessageReaded"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
