<div>
  <div class="sky-background"></div>
  <app-header></app-header>

  <section class="intro">
    <div class="logo">
      <img src="./../../../../assets/images/scai-logo.png" alt="Scai Logo">
    </div>
  </section>
  <div class="buuttons-handler">
    <ul>
      <li>
        <a class="my-button" style="padding-right: 120px;" routerLink="/app/sign-in">
          <p>Sign in</p>
        </a>
      </li>
      <li>
        <a class="my-button" style="padding-right: 175px;" routerLink="/app/sign-up">
          <p>Sign up</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- 
<div class="container-fluid h-100 m-0 p-0 ">
  <app-header></app-header>
  <div class="sky-background h-75"></div>
  <div class="logo fixed-top justify-content-center">
    <img src="./../../../../assets/images/scai-logo.png" alt="Scai Logo">
  </div>
</div> -->