<!-- the Navbar-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <span id="logo"
      ><img src="./../../../assets/images/scai-logo.png" alt=""
    /></span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-home" aria-hidden="true"></i> Home
          <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-user" aria-hidden="true"></i>Profile
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-users" aria-hidden="true"></i> Add friends
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-cogs" aria-hidden="true"></i>
          settings</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" />
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
<!-- the Body -->
<div class="container-fluid" style="background: #dfe3ee;">
  <div class="row">
    <!-- The UserNav -->
    <div class="col-sm-3 sticky-top" style="margin-top: 20px;">
      <div
        class="jumbotron jumbotron-fluid"
        style="border-radius: 4px; height: 400px; border: 1px solid #dddfe2;"
      >
        <p class="text-center">this is UserNav Component</p>
      </div>
    </div>
    <!-- the middle component -->
    <div class="col-sm-6">
      <!-- Create Post -->
      <app-create-post></app-create-post>
      <!-- container of posts -->
      <app-posts></app-posts>
    </div>
    <!-- the Third component -->
    <div class="col-sm-3" style="margin-top: 10px; padding-left: 0px;">
      <div
        class="jumbotron jumbotron-fluid"
        style="border-radius: 4px; border: 1px solid #dddfe2;"
      >
        <p class="text-center">this is the third component</p>
      </div>
    </div>
    <!-- 4th Component-->
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-3 fixed-bottom offset-9">
          Friends section
        </div>
        <!-- <div class="col-3 fixed-bottom">Friends section</div>
        <div class="col-3 fixed-bottom">Friends section</div> -->
      </div>
    </div>
  </div>
</div>
