<app-navbar></app-navbar>

<div class="row" style="margin-left: 0; margin-right: 0;">
  <div
    class="container-fluid col-sm-3"
    style="padding-right: 0; border-right: 2px solid #efefef; height: 701px;"
  >
    <app-messenger-nav
      (eventClicked)="childEventClicked($event)"
    ></app-messenger-nav>
  </div>

  <div class="container-fluid col-sm-9" style="height: 701px;">
    <app-messages-handler
      *ngIf="clickedConversation"
      [conversation]="clickedConversation"
    ></app-messages-handler>
    <div
      class="jumbotron messenger-icon"
      style="text-align: center; margin: 0 0 0 -15px; color: #2fa4e7;"
      *ngIf="!clickedConversation"
    >
      <i
        class="fa fa-comments"
        aria-hidden="true"
        style="font-size: 35rem;"
      ></i>
    </div>
  </div>
</div>
