<app-spinner *ngIf="loading"></app-spinner>
<ng-container *ngIf="!loading && user">
    <div class="row">
        <div class="container c-main">

            <div class="card bg-secondary">
                <div class="card-body">
                    <h5 class="card-title">
                        Intro <i class="fa fa-globe" aria-hidden="true"></i>
                    </h5>
                    <hr />
                    <div class="container c-table">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        Lives in
                                    </th>
                                    <div class="form-group">
                                        <td>
                                            <span>{{ location }}</span>
                                        </td>
                                    </div>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> From
                                    </th>
                                    <div class="form-group">
                                        <td>
                                            <span>{{ hometown }} </span>

                                        </td>
                                    </div>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <i class="fa fa-briefcase" aria-hidden="true"></i> Work in
                                    </th>
                                    <div class="form-group">
                                        <td>
                                            <span>{{ work_in }} </span>

                                        </td>
                                    </div>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> Born
                                    </th>
                                    <div class="form-group">
                                        <td>
                                            <span>{{ birthdayObject }} </span>

                                        </td>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>

        </div>
    </div>


</ng-container>