.c-commetn {
  display: inline-flex;
  background: white;
}

.commenter-image-wrapper {
  display: flex;
  width: 30px;
  margin-right: 10px;
  align-items: center;
}

.commenter-image-wrapper img {
  width: 100%;
}

.commenter-name-wrapper {
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.commenter-name-wrapper h5 {
  margin: 0;
  font-size: 1rem;
}

.commenter-name-wrapper h5 a {
  text-decoration: none;
  font-weight: 300;
}

.commenter-comment-wrapper {
  display: flex;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  align-items: center;
  background: #e9ecef;
}

.commenter-comment-wrapper p {
  margin: 0 30px 0 30px;
  font-size: 1rem;
  font-weight: 300;
}
