.container {
  margin-top: 53px;
}

.card {
  border-radius: 15px;
}

.card-body hr {
  border-top: 1px;
}

.c-table {
  margin-top: 0;
}

.intro-button {
  margin-left: 290px;
}

table input {
  background: transparent;
  border: 0;
}

table input:focus {
  outline: none;
  cursor: default;
}
.form-group {
  margin-bottom: 0px;
}

.c-main {
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}
