<!-- <app-first-wrapper></app-first-wrapper> -->
<!-- <p>friend-profile works!</p> -->
<app-spinner *ngIf="loading"></app-spinner>

<ng-container *ngIf="!loading && profile">


    <div class="container">
        <div class="row">


            <div id="container" class="container-fluid">

                <div class="row">
                    <div class="jumbotron jumbotron-fluid image-wrapper">
                        <img src="../../../assets/images/photo-1417816491410-d61e1546e539.jpg " />
                    </div>
                    <div id="profile-picture">
                        <img class="rounded-circle" [src]="profilePicture" />
                    </div>
                </div>


                <div class="row">
                    <div class="container col-3">
                    </div>
                    <div class="container col-9">
                        <div class="container-fluid d-flex ">

                            <div class="container d-flex align-self-center ">
                                <h1>{{ profile.firstName }} {{profile.lastName }} </h1>
                            </div>

                            <ng-container *ngIf="relationShipStatus && relationShipStatus ==='b' ; else elseBlock ">
                                <button (click)="declineFriendRequest(profile.id)"
                                    class="btn btn-danger my-button float-right "> Decline </button>
                                <button (click)="acceptFriendRequest(profile.id)"
                                    class="btn btn-success my-button float-right ">

                                    Accept </button>
                            </ng-container>

                            <ng-template #elseBlock>

                                <ng-container *ngIf="relationShipStatus && relationShipStatus ==='a' ">
                                    <button (click)="cancelFriendRequest(profile.id)"
                                        class="btn btn-info my-button ">Cancel Request</button>
                                </ng-container>

                                <ng-container *ngIf="relationShipStatus && relationShipStatus ==='c' ">
                                    <button (click)="unFriend(profile.id)" class="btn btn-info my-button ">Unfriend
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </button>
                                    <button (click)="blockFriend(profile.id)" class="btn btn-info my-button ">Block
                                        <i class="fa fa-ban" aria-hidden="true"></i></button>
                                </ng-container>

                                <ng-container *ngIf="relationShipStatus && relationShipStatus ==='d' ">
                                    <p style="color: red ;">{{
                                        profile.firstName }} {{profile.lastName }} blocked you</p>
                                </ng-container>

                                <ng-container *ngIf="relationShipStatus && relationShipStatus ==='e' ">
                                    <button (click)="unblockFriend(profile.id)"
                                        class="btn btn-info my-button ">unblock</button>
                                </ng-container>

                                <ng-container *ngIf="relationShipStatus && relationShipStatus ==='f' ">
                                    <button (click)="sendFriendsRequest(profile.id)" class="btn btn-info my-button ">
                                        Send Request
                                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                    </button>
                                </ng-container>

                            </ng-template>
                        </div>
                    </div>
                </div>


                <!-- <ng-container>
                    <div class="row ">
                        <div class="container col-4"> </div>
                        <div class="container col-8 bg-light">
                            <h3>Hello that's about me </h3>
                        </div>
                    </div>
                </ng-container> -->




                <div class="container">
                    <div id="second-row-container" class="row">

                        <div class="col-5">

                            <app-user-intro [profile]="profile"></app-user-intro>
                            <!-- <app-intro></app-intro> -->
                            <!-- <app-photos></app-photos> -->

                        </div>
                        <div class="col-7">

                            <div class="c-top-right">

                                <!-- <create-post></create-post> -->
                                <!-- <app-timeline-posts></app-timeline-posts> -->



                                <div class="row wrapp">
                                    <div class="container-fluid bg-light main ">
                                        <div class="row shady-border">
                                            <div class="col-8 scrolly">
                                                <div data-spy="scroll" data-target="#list-example" data-offset="0"
                                                    class="scrollspy-example">
                                                    <h4 class="my-h4">
                                                        <i class="fa fa-paperclip" aria-hidden="true"></i> Posts
                                                    </h4>
                                                    <hr class="my-4" style="margin-right: 20px; margin-left: 20px;" />
                                                    <ng-container *ngIf="!loadingPosts && !doProfileHasPosts">

                                                        <div class="container">
                                                            <h2 class="no-posts"> {{ profile.firstName }} has no posts
                                                                for the moment
                                                            </h2>
                                                        </div>

                                                    </ng-container>
                                                    <ng-container *ngIf="posts ">
                                                        <app-spinner *ngIf="loadingPosts"></app-spinner>
                                                        <ng-container *ngIf="!loadingPosts && doProfileHasPosts">
                                                            <app-post (like)="likePost($event)"
                                                                (unlike)="unlikePost($event)"
                                                                (addCommentButtonClicked)="addCommentOnPost($event)"
                                                                *ngFor="let post of posts" [post]="post"></app-post>
                                                        </ng-container>
                                                    </ng-container>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</ng-container>