.header-list {
  list-style: none;
  margin: 15px 0 0 0;
  //   padding: 0;
  overflow: hidden;
}

.header-list li {
  float: left;
}

.header-list span {
  display: block;
}

// chat box
.container {
  max-width: 500 !important ;
  margin: auto;
  margin-top: 0px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}

.image-upload > input {
  display: none;
}

.chat-page {
  padding: 0 0 0 0;
  margin-top: 10px;
}

.msg-inbox {
  overflow: hidden;
  padding-bottom: 0px;
}

.chats {
  padding: 0;
}

.msg-page {
  height: 516px;
  overflow-y: auto;
}

// .recieved-chats {
//   display: inline-block;
// }

.recieved-chats-img {
  //   display: inline-block;
  width: 20px;
  float: left;
}

.recieved-msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.recieved-msg-inbox {
  width: 57%;
}

.recieved-msg-inbox p {
  background: #efefef none repeat scroll 0 0;
  border-radius: 10px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time {
  color: #777;
  display: block;
  font-size: 12px;
  margin: 0;
}

.outgoing-chats {
  overflow: hidden;
  margin: 0;
}

.outgoing-chats-msg p {
  background: #007bff none repeat scroll 0 0;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing-chats-msg {
  float: left;
  width: 51%;
  margin-left: 45%;
}

.outgoing-chats-img {
  //  display: inline-block;
  width: 20px;
  float: right;
}
