<div class="row">
  <div class="container-fluid header" style="height: 70px; border-bottom: 2px solid #efefef;">
    <ul class="header-list" *ngIf="chat">
      <li>
        <span>
          <img [src]="male_avatar_photo_url" class="rounded-circle" style="width: 50px; height: 50px;" />
        </span>
      </li>
      <li>
        <span style="margin: 4px 0 0 20px;">
          <h3> {{chat.secondUser.firstName}} {{chat.secondUser.lastName}} </h3>
        </span>
      </li>
      <li style="float: right;">
        <span>
          <i class="fa fa-info" aria-hidden="true" style="font-size: 40px; color: #2fa4e7;"></i>
        </span>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="container col-8" style="height: 631px; border-right: 2px solid #efefef;">
    <div class="row">
      <p *ngIf="!doIhaveMessages"> Start a conversation with {{chat.secondUser.firstName}} {{chat.secondUser.lastName}}
      </p>
      <div class="container" *ngIf="messages">
        <div class="chat-page">
          <div class="msg-inbox">
            <div class="chats">
              <div class="msg-page">
                <ng-container *ngFor="let message of messages">
                  <ng-container *ngIf="
                      message.senderId !== chat.myId ;
                      else outgoingChat
                    ">
                    <div class="recieved-chats">
                      <div class="recieved-chats-img">
                        <img class="rounded-circle" style="width: 20px; height: 20px;" [src]="male_avatar_photo_url" />
                      </div>
                      <div class="recieved-msg">
                        <div class="recieved-msg-inbox">
                          <p>
                            {{ message.text }}
                          </p>
                          <span class="time">11:00 PM </span>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #outgoingChat>
                    <div class="outgoing-chats">
                      <div class="outgoing-chats-msg">
                        <p>
                          {{ message.text }}
                        </p>
                        <span class="time">11:00 PM </span>
                      </div>
                      <div class="outgoing-chats-img">
                        <img class="rounded-circle" style="width: 20px; height: 20px;" [src]="male_avatar_photo_url" />
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-group fluid" style="position: absolute; bottom: 15px; left: 0;">
        <!-- <div class="image-upload" style="position: absolute;">
          <label for="file-input">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
          </label>
          <input id="file-input" type="file" />
        </div> -->
        <input type="text" class="form-control" placeholder="Type a message... " aria-label="Recipient's username"
          aria-describedby="button-addon2" style="border-radius: 20px; margin: 0 20px 0 20px;" [(ngModel)]="text"
          (keyup.enter)="sendMessage()" />
        <div class="input-group-append">
          <ng-container *ngIf="text; else likeButton">
            <button class="btn btn-outline-primary" type="button " id="button-addon2"
              style="border-radius: 20px; margin-right: 10px;" (click)="sendMessage()">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
          </ng-container>
          <ng-template #likeButton>
            <button class="btn btn-outline-primary" type="button" style="border-radius: 20px; margin-right: 10px;">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="container col-4"></div>
</div>