.the-header {
  height: 70px;
  border-bottom: 2px solid #efefef;
}

.the-header-image > img {
  width: 50px;
  height: 50px;
}

.friend-name {
  margin: 4px 0 0 20px;
}

.the-i-icon > i {
  font-size: 40px;
  color: #2fa4e7;
}

.main {
  height: 631px;
  border-right: 2px solid #efefef;
}

.empty-discussion > img {
  width: 100px;
  height: 100px;
}

.header-list {
  list-style: none;
  margin: 15px 0 0 0;
  //   padding: 0;
  overflow: hidden;
}

.header-list li {
  float: left;
}

.header-list span {
  display: block;
}

// chat box
.container {
  max-width: 500 !important ;
  margin: auto;
  margin-top: 0px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}

.image-upload > input {
  display: none;
}

.chat-page {
  padding: 0 0 0 0;
  margin-top: 10px;
}

.msg-inbox {
  overflow: hidden;
  padding-bottom: 0px;
}

.chats {
  padding: 0;
}

.msg-page {
  height: 516px;
  overflow-y: auto;
}

// .recieved-chats {
//   display: inline-block;
// }

.recieved-chats-img {
  //   display: inline-block;
  width: 20px;
  float: left;
}

.recieved-msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.recieved-msg-inbox {
  width: 57%;
}

.recieved-msg-inbox p {
  background: #efefef none repeat scroll 0 0;
  border-radius: 10px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time {
  color: #777;
  display: block;
  font-size: 12px;
  margin: 0;
}

.outgoing-chats {
  overflow: hidden;
  margin: 0;
}

.outgoing-chats-msg p {
  background: #007bff none repeat scroll 0 0;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing-chats-msg {
  float: left;
  width: 51%;
  margin-left: 45%;
}

.outgoing-chats-img {
  width: 20px;
  float: right;
}

.outgoing-chats-img > img {
  width: 20px;
  height: 20px;
}

.input-wrapper {
  position: absolute;
  bottom: 15px;
  left: 0;
}

.input-wrapper > input {
  border-radius: 20px;
  margin: 0 20px 0 20px;
}

.send-button {
  border-radius: 20px;
  margin-right: 10px;
}

.like-button {
  border-radius: 20px;
  margin-right: 10px;
}

.input-group > .input-group-append > .btn {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
