<app-navbar></app-navbar>
<!-- the Body -->
<div class="container-fluid" style="background: #dfe3ee;">
  <div class="row">
    <!-- The UserNav -->
    <div class="col-sm-3" style="margin-top: 30px;">
      <app-usernav></app-usernav>
    </div>
    <!-- the middle component -->
    <div class="col-sm-6">
      <!-- Create Post -->
      <app-create-post></app-create-post>
      <!-- container of posts -->
      <app-posts></app-posts>
    </div>
    <!-- the Third component -->
    <div class="col-sm-3" style="margin-top: 30px; padding-left: 0px;">
      <app-friendships-suggestion></app-friendships-suggestion>
    </div>
    <!-- 4th Component-->
    <app-active-friends></app-active-friends>
  </div>
</div>